/* General page styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e8f3f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #073b5a;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a button {
    background-color: #d96634;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

nav ul li a button:hover {
    background-color: #e68850;
}
#logoutButton {
    background-color: red; /* Màu nền */
    color: white; /* Màu chữ */
    border: none; /* Bỏ viền */
    padding: 10px 20px; /* Khoảng cách bên trong nút */
    text-align: center; /* Canh giữa chữ */
    text-decoration: none; /* Bỏ gạch chân */
    display: inline-block;
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Thay đổi con trỏ khi di chuột vào nút */
    border-radius: 5px; /* Bo góc nút */
}

#logoutButton:hover {
    background-color: darkred; /* Màu khi hover chuột */
}
