<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ResetSessionServlet</servlet-name>
        <servlet-class>controller.ResetSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorDashBoardServlet</servlet-name>
        <servlet-class>controller.MentorDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkillAssessmentServlet</servlet-name>
        <servlet-class>controller.SkillAssessmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommunicationToolsServlet</servlet-name>
        <servlet-class>controller.CommunicationToolsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffProfileServlet</servlet-name>
        <servlet-class>controller.StaffProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleDeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetSessionServlet</servlet-name>
        <url-pattern>/resetSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorDashBoardServlet</servlet-name>
        <url-pattern>/mentorDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkillAssessmentServlet</servlet-name>
        <url-pattern>/skillAssessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommunicationToolsServlet</servlet-name>
        <url-pattern>/communicationTool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffProfileServlet</servlet-name>
        <url-pattern>/staffProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>FIlter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/internDashBoard</url-pattern>
        <url-pattern>/internDashBoard.jsp</url-pattern>
        <url-pattern>/trainingForm</url-pattern>
        <url-pattern>/internProfileRegister</url-pattern>
        <url-pattern>/dailyProgress</url-pattern>
        <url-pattern>/adminDashBoard</url-pattern>
        <url-pattern>/internProfiles</url-pattern>
        <url-pattern>/reprotingAnalysis</url-pattern>
        <url-pattern>/recruitment</url-pattern>
        <url-pattern>/staffDashBoard</url-pattern>
        <url-pattern>/interviewScheduling</url-pattern>
        <url-pattern>/performanceTracking</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>DeleteProfileInternServlet</servlet-name>
        <servlet-class>controller.DeleteProfileInternServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleAdminDashBoardServlet</servlet-name>
        <servlet-class>controller.HandleAdminDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDashBoardServlet</servlet-name>
        <servlet-class>controller.StaffDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InterviewSchedulingServlet</servlet-name>
        <servlet-class>controller.InterviewSchedulingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformanceTrackingServlet</servlet-name>
        <servlet-class>controller.PerformanceTrackingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrainingFormServlet</servlet-name>
        <url-pattern>/trainingForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteRecruitmentServlet</servlet-name>
        <servlet-class>controller.DeleteRecruitmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InternProfileRegisterServlet</servlet-name>
        <servlet-class>controller.InternProfileRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DailyProgressServlet</servlet-name>
        <servlet-class>controller.DailyProgressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashBoardServlet</servlet-name>
        <servlet-class>controller.AdminDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InternProfileServlet</servlet-name>
        <servlet-class>controller.InternProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReprotingAnalysisServlet</servlet-name>
        <servlet-class>controller.ReprotingAnalysisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruitmentServlet</servlet-name>
        <servlet-class>controller.RecruitmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainingFormServlet</servlet-name>
        <servlet-class>controller.TrainingFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleDeleteServlet</servlet-name>
        <servlet-class>controller.HandleDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InternProfileRegisterServlet</servlet-name>
        <url-pattern>/internProfileRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DailyProgressServlet</servlet-name>
        <url-pattern>/dailyProgress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashBoardServlet</servlet-name>
        <url-pattern>/adminDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InternProfileServlet</servlet-name>
        <url-pattern>/internProfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReprotingAnalysisServlet</servlet-name>
        <url-pattern>/reprotingAnalysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecruitmentServlet</servlet-name>
        <url-pattern>/deleteRecruitment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruitmentServlet</servlet-name>
        <url-pattern>/recruitment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfileInternServlet</servlet-name>
        <url-pattern>/deleteProfileIntern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleAdminDashBoardServlet</servlet-name>
        <url-pattern>/handleAdminDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDashBoardServlet</servlet-name>
        <url-pattern>/staffDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InterviewSchedulingServlet</servlet-name>
        <url-pattern>/interviewScheduling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformanceTrackingServlet</servlet-name>
        <url-pattern>/performanceTracking</url-pattern>
    </servlet-mapping>
</web-app>
